<h1 class="my-3">Edit User</h1>

<%= simple_form_for @user do |f| %>
  <div class="row">
    <div class="col-md-6"><%= f.input :first_name %></div>
    <div class="col-md-6"><%= f.input :last_name %></div>
  </div>

  <%= f.input :address %>

  <div class="row">
    <div class="col-md-6"><%= f.input :city %></div>
    <div class="col-md-6"><%= f.input :state %></div>
    <div class="col-md-6"></div>
  </div>

  <div class="row">
    <div class="col-md-6"><%= f.input :postcode %></div>
    <div class="col-md-6"><%= f.input :phone %></div>
  </div>



  <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>
<% end%>